{% extends "layout.html"%}
{% block body %}

<style>
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
 border-radius: 10%;
  align:center;
}

.center {
  display: block;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height:20%;
}
h1 {
     font-family: forte;
  /* text-shadow: 2px 2px 5px red; */
}
footer {
  text-align: center;
  padding: 1px;
  background-color: black;
  color: white;
  margin-top:7.5%;
}
</style>
</head>
<body background="static/corona1.jpg"> 
<img src="static/corona1.jpg" alt="Paris" width="600" height="300" class="center">

<br>
<h1>Covid-19 has spread around the planet, 
sending billions of people into lockdown as health services struggle to cope. 
Find out where the virus has spread, and where it has been most deadly</h1>
<footer>
  <p>copyright @anchalsharma<br>
 
</footer>
</body>
</html>
{% endblock %}



